@import url('https://fonts.googleapis.com/css2?family=Lily+Script+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Lily+Script+One&display=swap');

/**
 * Reset css.
 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/**
 * Déclaration des couleurs.
 */
:root {
    --backgroundColor: #ffffff;
    --backgroundNewelle: #f6f5ef;
    --headerColor: #38302b;
    --headerPaleColor: #eeece1;
    --titleColor: #38302b;
}

/**
 * Valeur par défaut pour les balises.
 */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Comfortaa", sans-serif;
    background-color: var(--backgroundColor);
    max-width: 1920px;
    min-width: 1440px;
    width:100%;
}

h1 {
    display: flex;
    justify-content: center;
    padding: 30px;
    font-family: 'Lily Script One', system-ui;
    font-size: 48px;
    color: var(--titleColor);
}

h2 {
    width: 100%;
    margin: 20px 0;
    font-size: 25px;
    font-family: "Comfortaa", sans-serif;
    color: var(--headerColor);
    background-color: var(--headerPaleColor);
    border-bottom: 3px solid var(--titleColor);
    text-align:center;
    padding:5px;
}

h3 {
    width: 100%;
    font-size: 20px;
    font-family: "Comfortaa", sans-serif;
    font-weight:700;
    color: var(--headerColor);
    padding:10px 0px 10px 10px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}


/**
 * Header
 */
header{
    width:100%;
}

.header {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: var(--backgroundNewelle); 
}

.logo img{
    width:100%;
}

.header > .logo{
    width:10%;
    padding:30px;
}

.header > .title{
    width:80%;
}

.header > .nav {
    display: flex;
    justify-content: flex-end;
    width:10%;
    padding:30px;
}

.signature{
    background-color: var(--headerColor);
    color: var(--headerPaleColor);
    font-family: "Comfortaa", sans-serif;
    font-weight: 600;
    padding:10px;
    margin-bottom: 30px;
    text-align:center;
    font-size:1.1em;
}

/* Coeur de page.*/
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    margin: 0 50px 100px 50px;
}

.hidden{
    display:none;
}

/*Affichage des tableaux (table - td)*/
table {
    margin: 20px auto;
    border-collapse: collapse;
}

thead {
    background-color: var(--headerColor);
    color:#ffffff;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

tbody tr:nth-child(odd) {
    background-color: var(--headerPaleColor);
}

tbody tr:nth-child(even) {
    background-color: var(--backgroundColor);
}

th.id, td.id, th.idNewelle, td.idNewelle {
    display:none;
}

td.delete {
    font-weight: bold;
    text-decoration: underline;
    color:var(--titleColor);
}

/* Affichage des newelles */


.newelleList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:flex-start;
    width: 100%;
}

article.home{
    width:33%;
}

.newelle {
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    margin:10px;
    justify-content:space-around;
    background-color: var(--headerPaleColor);
    height:300px;
    border-radius:0 50px 0 0;
}

.newelle-content {
    display:flex;
    flex-direction:column;
    text-align: justify;
    width:70%;
}

.newelle-img{
    width:30%;
    padding:15px 15px 20px 15px;
    object-fit:cover;
    height:250px;
    border-radius:0 50px 0 0;
}

.newelle-content > h2 {
    color: var(--headerColor);
    width:100%;
    padding:10px 0 10px 10px;
}

.newelle-content > p {
    margin-bottom: 10px;
    font-size: 15px;
    padding-left: 10px;
}

.newelle-content > p.stagename {
    font-style:italic;
    text-decoration:underline;
}
.newelle-footer{
    display:flex;
    flex-direction: row;
    justify-content:space-around;
    border-top:1px dotted var(--titleColor);
    width:100%;
    padding:5px;
    height:35px;
}

.newelle-footer .info{
    padding:5px 20px 5px 5px;
    border-right: 1px solid var(--titleColor);
}

/* Page de détail d'un newelle */

article.detail{
    width:100%;
}


.newelle-detail {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: var(--headerPaleColor);
    margin-top:20px
}

.meta-data{
    width:25%;
    padding:10px;
}

.meta-data li{
    font-size:1.2em;
    padding-bottom: 20px;;
}


.newelle-text{
    width:75%;
    text-align:justify;
    display:flex;
    flex-direction: column;
    line-height: 1.3em;
    background-color: var(--backgroundNewelle);
    padding:30px;
}

.material-symbols-outlined {
    font-size: 180px!important;
    display:block;
    margin:-80px auto 10px auto;
}

.newelle-text a{
    display:inline;
    text-align:center;
}

/* Affichage des commentaires */
.comments {
    width: 100%;
    margin-top: 30px;
}

.commentsTitle {
    color: var(--titleColor);
}

.comments ul {
    margin-bottom: 30px;
}

.comments li {
    display: flex;
    margin-bottom: 20px;
}

.comments .smiley {
    display: flex;
    align-items: flex-start;
    line-height: 0.7;
    font-size: 60px;
    color: var(--quoteColor);
}

/* On redéfinit certaines parties du "info" pour l'affichage dans les commentaires */
.detailComment .info {
    margin: 5px 0 5px 0;
    font-style: normal;
}

.detailComment .content {
    margin: 5px 0 5px 0;
}

/* Page d'erreur */

.error {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.error h2 {
    color: var(--titleColor)
}

.error a {
    margin: 20px;
    color: var(--headerColor);
    font-weight: bold;
}

/**
 * Partie admin
 */ 

.adminNewelle, .adminComment {
    margin-bottom: 20px;
    background-color: var(--commentPaleColor);
    color: white;
}

.newelleLine {
    display: flex; 
}

.newelleLine div {
    display: flex;
    align-items: center;
}

.newelleLine .title {
    font-weight: bold;
    min-width: 200px;
    width: 200px;
}

.newelleLine .content {
    flex-grow: 1;
}

.newelleLine > div {
    padding: 20px;
    border: 1px solid var(--backgroundColor);
}

.commentLine {
    display:grid;
    grid-template-columns: 150px 600px 200px 150px;
}

.commentLine .pseudo, .commentLine .content, .commentLine .date, .commentLine .supprimer{
    height:100px;
    padding:20px;
    border:solid 1px #ddd;
    text-align:center;
}

.commentLine .pseudo{
    font-weight:bold;
}

/** 
 * Footer global de la page.
 */
footer {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    width: 100%;;
    padding: 20px;
    color: white;
    background-color: var(--headerColor);
}

/**
 * Styles des formulaires.
 */
 form {
    width: 100%;
    margin-top: 30px;
    padding: 20px;
    background-color: var(--headerPaleColor);
}

form h2 {
    margin: 0 0 20px 0;
    color: var(--titleColor);
}
form label {
    font-weight: bold;
    font-size: 1.2em;
}

form input {
    padding: 5px;
    border: none;
    font-size: 1.2em;

}

form textarea {
    height: 150px;
    padding: 5px;
    border: none;
    font-size: 1.2em;

}

form .formGrid {
    display: grid;
    grid-template-columns: 200px minmax(0, 1fr); /* Une colonne de 100px et une autre de largeur automatique */
    gap: 10px; /* Espace entre les éléments de la grille */
}

form .formGrid .submit {
    grid-column: 2; /* Place l'élément dans la deuxième colonne (la dernière) */
    grid-row: 6; /* Place l'élément dans la troisième rangée (la dernière) */
}

.submit {
    padding: 5px 10px;
    font-weight: bold;
    color: white;
    background-color: var(--headerColor);
    border: none;
    font-size: 1.2em;
    cursor:pointer;
}

.nav {
    display : flex;
    flex-direction: row;
    justify-content: center;
    gap:20px;
}

