@import url('https://fonts.googleapis.com/css2?family=Lily+Script+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Lily+Script+One&display=swap');

/**
 * Reset css.
 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/**
 * Déclaration des couleurs.
 */
:root {
    --backgroundColor: #ffffff;
    --backgroundNewelle: #f6f5ef;
    --headerColor: #38302b;
    --headerPaleColor: #eeece1;
    --linkColor: #df6811;
}

/**
 * Valeur par défaut pour les balises.
 */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Comfortaa", sans-serif;
    background-color: var(--backgroundColor);
    max-width: 1920px;
    width:100%;
}

h1 {
    display: flex;
    justify-content: center;
    font-family: "Comfortaa", sans-serif;
    background-color: var(--headerColor);
    color: var(--headerPaleColor);
    font-weight: 700;
    padding: 10px;
    margin-bottom: 0px;
    text-align: center;
    font-size: 1.6em;
    width: 100%;
}

h2 {
    width: 100%;
    margin: 20px 0;
    font-size: 1.5em;
    font-family: "Comfortaa", sans-serif;
    color: var(--headerColor);
    background-color: var(--headerPaleColor);
    border-bottom: 3px solid var(--headerColor);
    text-align:center;
    padding:5px;
}

h3 {
    width: 100%;
    font-size: 1.4em;
    font-family: "Comfortaa", sans-serif;
    font-weight:700;
    color: var(--headerColor);
    padding:10px 0px 10px 10px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
    font-weight:bold;
}

a.underline {
    text-decoration: underline;
}

.extra-line-height{
    line-height:1.5em;
}

.center{
    width:100%;
    display:flex;
    justify-content: center;
}

/**
 * Header
 */
header{
    width:100%;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-color: var(--backgroundNewelle); 
    border-bottom: solid 2px var(--headerColor);
    padding-bottom: 10px;
}

.header .title{
    width:20%;
}

.title p{
    display: flex;
    justify-content: flex-start;
    padding:10px 30px 10px 30px;
    font-family: 'Lily Script One', system-ui;
    font-size: 3em;
    color: var(--headerColor);
    font-weight:bold;
    width:100%
}

.header .title p:hover{                 
    font-size:3.1em;
}

/*Barre recherche*/
.search{
    margin:40px 0;
    display:flex;
    flex-direction: column;
    justify-content: center;
    width:60%;
    padding:0;
    font-size:1.3em;
}

.search form{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding:0;
    background-color:var(--backgroundNewelle);
}

.search label{
    border-radius:30px 0px 0px 30px;
    border-left:solid 1px var(--headerPaleColor);
    border-top:solid 1px var(--headerPaleColor);
    border-bottom:solid 1px var(--headerPaleColor);
    background-color: var(--backgroundColor);
    width:50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding:0px 15px;
    height:50px;
    font-size:1.4em;
}

.search form:hover{
    font-size:1.05em;
}

.search input{
    font-size:1em;
    font-weight:bold;
    border:solid 1px var(--main-bg-color);
    width:60%;
    height:50px;
    border-top:solid 1px var(--headerPaleColor);
    border-bottom:solid 1px var(--headerPaleColor);
    font-family: "Comfortaa", sans-serif;
}

.search #submit{
    background-color:var(--headerColor);    
    border:solid 1px var(--headerColor);
    padding:7px 0px;
    color:var(--backgroundColor);
    cursor: pointer;
    border-radius:0 30px 30px 0;
    width:20%;
}

.search button{
    display:none;
}

.header > .nav {
    display: flex;
    justify-content: flex-end;
    width:20%;
    padding:6px 30px 6px 30px;
}

.header > .nav  .material-symbols-outlined{
    font-size:5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--headerColor);
}

.header > .nav:hover{
    font-size:1.1em;
    padding:0px 20px 0px 20px;
}

/* Coeur de page.*/
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0px 0px 70px 0px;
}

.hidden{
    display:none;
}

/*****Home Page**********/
/* Affichage des newelles */
.newelle-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:flex-start;
    width:100%;
}

article.home-newelles{
    width:33%;
}

.newelle {
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    margin:10px 10px 10px 20px;
    justify-content:space-around;
    background-color: var(--headerPaleColor);
    height:310px;
    border-radius:0 50px 0 0;
    border:solid 4px var(--backgroundColor);
}

.newelle:hover {
    border:solid 4px var(--headerPaleColor);
}

.newelle-content {
    display:flex;
    flex-direction:column;
    text-align: left;
    width:65%;
    height:262px;
}

.newelle-content p{
    margin-bottom: 10px;
    padding-left: 10px;
    line-height: 1.35em;
}

.newelle-img{
    width:35%;
    padding:10px 15px 10px 15px;
    object-fit:cover;
    height:260px;
    border-radius:0 50px 0 0;
}

p.extrait {
    margin-bottom: 10px;
    font-size: 1em;
    padding-left: 10px;
    overflow:hidden;
}

.newelle-content > p.stagename {
    font-style:italic;
}
.newelle-footer{
    display:flex;
    flex-direction: row;
    justify-content:flex-start;
    border-top:1px dotted var(--headerColor);
    width:100%;
    padding:5px;
    height:35px;
}

.newelle-footer li{
    padding:5px 5px 5px 5px;
    border-right: 1px solid var(--headerColor);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

}

.newelle-footer li:last-child{
    border:none;
}

a.button{
    padding:13px;
    background-color: var(--headerColor);
    border-radius:5px;
    color:var(--headerPaleColor);
    border:solid 2px var(--backgroundNewelle);
}

a.button:hover{
    border:solid 2px var(--headerColor);
}

/* affichage du top 4 profiles */
/* Affichage des newelles */

article.home-profiles{
    width:25%;
}

.profile {
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    margin:10px;
    justify-content:space-around;
    background-color: var(--headerPaleColor);
    height:256px;
    border-radius:50px;
    padding-right:15px;
    overflow: hidden;
    border:solid 4px var(--backgroundColor);
}

.profile:hover {
    border:solid 4px var(--headerPaleColor);
}

.profile-img{
    width:40%;
    padding:15px 0px 20px 15px;
    object-fit:cover;
    height:250px;
    border-radius:50px 0px 0px 50px;
    border-right: dotted 1px var(--headerColor);
}
.profile-content {
    display:flex;
    flex-direction:column;
    text-align: left;
    width:60%;
    overflow: hidden;
    padding:0px 0px 4px 0px;
}

.profile-content > p {
    margin-bottom: 10px;
    font-size: 1em;
    padding-left: 10px;
    line-height: 1.35em;
}

/* Page de détail d'un newelle */

.newelle-text .material-symbols-outlined {
    font-size: 150px!important;
    display:block;
    margin:-20px auto 10px auto;
    color:var(--headerColor);
    font-variation-settings: 'FILL' 1;
    border: none;
    background: none;
    cursor:pointer;
}

.audio-player {
    display: flex;
    align-items: center;
    background:none;
    border:none;
}

.newelle-detail {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 3px;
    background-color: var(--headerPaleColor);
    width:100%;
}

.meta-data{
    grid-column:1/2;
	grid-row:1/2;
    padding:10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.meta-data h3{
    margin:30px 0px 0px 0px;
    background-color: var(--headerColor);
    color:var(--backgroundColor);
    text-align:center;
}

.detail-img{
    width:80%;
    padding:15px 5px 20px 5px;
    object-fit:scale-down;
    display:block;
    max-height:400px;
}

.meta-data li{
    font-size:1.2em;
    padding-bottom: 20px;;
}

.meta-data a:hover{
    color:var(--linkColor);
}

.newelle-text{
    grid-column:2/5;
	grid-row:1/4;
    display:flex;
    flex-direction: column;
    line-height: 1.3em;
    background-color: var(--backgroundNewelle);
    padding:30px 50px 30px 50px;
}

.newelle-text p{
    padding-bottom:10px;
}

.pagination{
    display:flex;
    flex-direction: row;
    justify-content: center;
    font-size:1.5em;
}

.pagination a{
    text-decoration: underline;
}

.pagination a:hover{
    color:var(--linkColor);
}


/* Affichage des commentaires */

.feedbacks{
    grid-column:1/2;
	grid-row:2/3;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding:0px 10px;
}

.feedbacks h3{
    text-align:center;
    border-bottom:solid 2px var(--headerColor);
    margin-top:20px;
}

.feedback .material-symbols-outlined {
    font-variation-settings: 'FILL' 1;
    font-size:1.5em;
    color:var(--headerColor);
}

.feedback{
    width:90%;
}

.feedback li{
    width:100%;
    background-color: var(--backgroundNewelle);
    border-bottom:dotted 1px var(--headerColor);
    padding:20px 0px 20px 0px;
}

cite.info{
    padding: 20px 5px 0px 15px;
    margin:0;
    font-size:1em;
    font-style:italic;
    font-weight: normal;
    text-align:left;
}

p.info{
    padding:10px;
    font-size:1em;
    display:flex;
    flex-direction: row;
    align-items: center;
    gap:10px;
} 

p.no-comment{
    padding:10px;
    font-size:1em;
    background-color:var(--backgroundColor);
} 

blockquote.content{
    background-color: var(--backgroundColor);
    padding:10px;
    margin-top:10px;
    font-size:1em;
} 

.feedback-form{
    display:flex;
    flex-direction: column;
    align-items: center;
    width:100%;
}

.feedback-form textarea{
    width:100%;
    font-family: inherit;
    padding:10px;
    height:200px;
    font-size:1.1em;
}

.feedback-form label{
    padding:10px 0px 10px 0px;
    text-align:center;
}

.feedback-form button{
    margin:10px auto 10px auto;
    padding:10px 20px 10px 20px;
    border-radius:5px;
}

.feedback-form p{
    padding:10px 0px;
}

.h-captcha{
    margin-top:10px;

    overflow: hidden;
}

fieldset{
    border:none;
}

.rating {
    margin-bottom: 10px;
    display: flex;
    flex-direction: row-reverse; /* this is the magic */
    justify-content: center;
    font-variation-settings: 'FILL' 1;
    color: var(--headerColor);
}

.rating legend{
    padding:20px 0px 10px 0px;
    font-size:1.1em;
}

.rating label.material-symbols-outlined{
    font-size: 2.5em;
}
  
.rating input {
    display: none;
}
  
.rating label {
    font-size: 1.2em;
    cursor: pointer;
    color: var(--headerColor);
    font-variation-settings: 'FILL' 0;
}
  
.rating label:hover,
.rating label:hover ~ label { /* reason why the stars are in reverse order in the html */
    color: var(--headerColor);
    font-variation-settings: 'FILL' 1;
}
  
.rating input:checked ~ label {
    color: var(--headerColor);
    font-variation-settings: 'FILL' 1;
  }

/* Page d'erreur */

.error {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.error h2 {
    color: var(--headerColor)
}

.error p {
    text-align:center;
}

.error a {
    margin: 20px;
    font-weight: bold;
    text-decoration:underline;
}


/**
 * Compte utilisateur
*/
.account{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width:95%;
}

.account-card{
    display:flex;
    flex-direction: column;
    border-radius: 40px;
    background-color: var(--headerPaleColor);
    width:15%;
    align-items: center;
}

.account-card-title{
    border-bottom:solid 1px var(--headerColor);
    display: flex;
    flex-direction: column;
    align-items: center;
    width:90%;
}

.account-card-title .material-symbols-outlined{
    font-size:6em;
    color:var(--headerColor);
    margin-top:-10px;
    padding:10px 0px 5px 0px;
}

.account-card-title h3{
    font-size:1.7em;
    text-align:center;
    margin:0;
    padding:10px 0px 0px 0px;
}

.account-card-list{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.account-card-list ul li{
    text-align:center;
    color:var(--headerColor);
    font-size:1.2em;
    border-bottom:1px solid var(--headerColor);
    padding-bottom:20px;
}

.account-card-list ul li:hover{
    font-size:1.25em;
    padding-bottom:14px;
}

.account-card-list ul li:last-child{
    border:none;
}

.account-card-list .material-symbols-outlined{
    font-size:3em;
    padding:5px 0px 5px 0px;
}

/** On masque les colonnes inutiles*/
table.manageNewelles th.idUser, table.manageNewelles th.stageName, table.manageNewelles th.audio, table.manageNewelles th.content, table.manageNewelles th.nwlImg, table.manageNewelles th.id, 
table.manageNewelles td.idUser, table.manageNewelles td.stageName, table.manageNewelles td.audio, table.manageNewelles td.content, table.manageNewelles td.nwlImg, table.manageNewelles td.id 
{
    display:none;
}    

/** On masque les colonnes inutiles de gestion des feedbacks*/
table.displayFeedbacks th.nwlId, table.displayFeedbacks th.supprimer,  
table.displayFeedbacks td.nwlId, table.displayFeedbacks td.supprimer
{
    display:none;
}  

.user-page{
    display:flex;
    flex-direction: column;
}

.user-page nav{
    display:flex;
    flex-direction: row;
    justify-content: center;
}

/** 
 * Footer global de la page.
 */
footer {
    position:fixed;
    bottom:0;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 20px;
    color:var(--headerPaleColor);
    background-color: var(--headerColor);
}

footer a.footer{
    font-size:1.1em;
    padding:5px;
}

footer a.footer:hover{
    font-size:1.15em;
    padding:5px 3px 5px 4px;
}

/**
 * Styles des formulaires.
 */
.form{
    padding:20px;
}

 form {
    margin-top: 0px;
    padding: 30px;
    background-color: var(--headerPaleColor);
    font-family: "Comfortaa", sans-serif;
    display:flex;
    flex-direction: column;
    align-items: center;
    border-radius:0px 50px 0px 50px;
}

.form-grid {
    width:100%;
    display: grid;
    grid-template-columns: 20% minmax(0, 1fr); /* Une colonne de 100px et une autre de largeur automatique */
    gap: 10px; /* Espace entre les éléments de la grille */
    padding:10px;
}

.grid-input{
    grid-column: 2; /* Place l'élément dans la deuxième colonne (la dernière) */
    grid-row:3; /* Place l'élément dans la troisième rangée  */
}

.saisie-input{
    height:500px;
}

legend{
    text-align:center;
    font-size:1.2em;
    font-style:italic;
    line-height:1.5em;
}

form label {
    font-weight: bold;
    font-size: 1.2em;
}

form input {
    padding: 5px;
    border: none;
    font-size: 1.2em;

}

form select {
    padding: 5px;
    border: none;
    font-size: 1.2em;

}

form .current-img{
    max-width: 30%;
    max-height: 400px;
}


.submit {
    font-family:inherit;
    padding: 5px 10px;
    font-weight: bold;
    color: var(--headerPaleColor);
    background-color: var(--headerColor);
    border: 2px solid var(--headerPaleColor);
    font-size: 1.2em;
    cursor:pointer;
    border-radius:6px;
}

.submit:hover {
    border: 2px solid var(--headerColor);
}

/*Affichage des tableaux (table - td)*/
table {
    margin: 20px auto;
    border-collapse: collapse;
    width:100%;
}

thead {
    background-color: var(--headerColor);
    color:#ffffff;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    font-size:1.2em;
}

td a{
    text-decoration:underline;
}

td a:hover{
    color:var(--linkColor);
}

tr {
    height:40px;
}

tbody tr:nth-child(odd) {
    background-color: var(--headerPaleColor);
}

tbody tr:nth-child(even) {
    background-color: var(--backgroundColor);
}

/**************A PROPOS**************************/
.propos{
    width:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.propos article{
    margin-top:20px;
    width:60%;
}

.propos p{
    padding-bottom:20px;
}

/*****************ADMIN**************************/
.header-admin {
    display: flex;
    position:fixed;
    flex-direction: row;
    width: 100%;
    background-color: var(--backgroundNewelle); 
}

.header-admin > .title{
    width:95%;
}

.header-admin > .title p{
    font-size:1.75em;
    padding-left: 50px;
}

.header-admin > .nav {
    display: flex;
    justify-content: flex-end;
    width:5%;
    padding:10px 30px 5px 5px;
}

.header-admin > .nav .material-symbols-outlined{
    font-size:2.5em;
}

main.admin{
    width:100%;
    background-color: var(--backgroundNewelle);
    margin:0 50px 50px 50px;
}

.main-container{
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    width:100%;
    margin-top:70px;
}

.left-bar{
    position:fixed;
    top:70px;
    height:100%;
    display:flex;
    flex-direction: column;
    align-items:flex-start;
    background-color: var(--headerColor);
    color:var(--headerPaleColor);
    padding:20px 0px 0px 50px;
    width:15%;
}

.left-bar ul li{
    font-size:1.5em;
    padding:30px 0px 30px 0px;
}

.left-bar ul li a:hover{
    color:var(--linkColor);
}

.admin .content {
    margin-left:15%;
    padding:0px 30px 0px 30px;
    width: 85%;
    background-color: var(--backgroundNewelle);
}

.stats-container{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    gap:20px;
    flex-wrap: wrap;
    width:100%;
    padding:10px;
}

.stat{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    width:30%;
    height:450px;
    border-radius:450px;
    background-color: var(--headerPaleColor);
    padding:30px;
    margin:5px;
    border:dotted 1px var(--headerColor);
}

.stat p{
    text-align:center;
    padding:0;
    margin:10px 0px 0px 0px;
    font-weight:bold;
    font-size:1.5em;
}

.stat h3{
    text-align:center;
    text-decoration:underline;
    font-style:italic;
    font-size:1.3em;
}

/**masque les cellules "password, bio, audio, usr_img, nwl_img, content dans la section "newellers" du back office*/
table.adminNewellers th.password, table.adminNewellers th.bio, table.adminNewellers th.audio, table.adminNewellers th.usrImg,  table.adminNewellers th.nwlImg, table.adminNewellers th.content, 
table.adminNewellers td.password, table.adminNewellers td.bio, table.adminNewellers td.audio, table.adminNewellers td.usrImg,  table.adminNewellers td.nwlImg, table.adminNewellers td.content
{
    display:none;
}   

/**masque les cellules**/
table.adminNewelles th.audio, table.adminNewelles th.content, table.adminNewelles th.nwlImg, table.adminNewelles th.id, table.adminNewelles th.dateUpdate,
table.adminNewelles td.audio, table.adminNewelles td.content, table.adminNewelles td.nwlImg, table.adminNewelles td.id, table.adminNewelles td.dateUpdate
{
    display:none;
}    

