@import url('https://fonts.googleapis.com/css2?family=Lily+Script+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Lily+Script+One&display=swap');

/**
 * Reset css.
 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/**
 * Déclaration des couleurs.
 */
:root {
    --backgroundColor: #ffffff;
    --backgroundNewelle: #f6f5ef;
    --headerColor: #38302b;
    --headerPaleColor: #eeece1;
    --titleColor: #38302b;
    --linkColor: #df6811;
}

/**
 * Valeur par défaut pour les balises.
 */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Comfortaa", sans-serif;
    background-color: var(--backgroundColor);
    max-width: 1920px;
    min-width: 1440px;
    width:100%;
}

h1 {
    display: flex;
    justify-content: center;
    padding: 30px;
    font-family: 'Lily Script One', system-ui;
    font-size: 48px;
    color: var(--titleColor);
}

h2 {
    width: 100%;
    margin: 20px 0;
    font-size: 25px;
    font-family: "Comfortaa", sans-serif;
    color: var(--headerColor);
    background-color: var(--headerPaleColor);
    border-bottom: 3px solid var(--titleColor);
    text-align:center;
    padding:5px;
}

h3 {
    width: 100%;
    font-size: 20px;
    font-family: "Comfortaa", sans-serif;
    font-weight:700;
    color: var(--headerColor);
    padding:10px 0px 10px 10px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
    font-weight:bold;
}


/**
 * Header
 */
header{
    width:100%;
}

.header {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: var(--backgroundNewelle); 
}

.logo img{
    width:100%;
}

.header > .logo{
    width:10%;
    padding:30px;
}

.header > .title{
    width:80%;
}

.header > .nav {
    display: flex;
    justify-content: flex-end;
    width:10%;
    padding:30px;
}

.header > .nav  .material-symbols-outlined{
    font-size:5em;
}

.signature{
    background-color: var(--headerColor);
    color: var(--headerPaleColor);
    font-family: "Comfortaa", sans-serif;
    font-weight: 600;
    padding:10px;
    margin-bottom: 30px;
    text-align:center;
    font-size:1.5em;
}

/* Coeur de page.*/
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    margin: 0 50px 100px 50px;
}

.hidden{
    display:none;
}

/*Affichage des tableaux (table - td)*/
table {
    margin: 20px auto;
    border-collapse: collapse;
    width:100%;
}

thead {
    background-color: var(--headerColor);
    color:#ffffff;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    font-size:1.2em;
}

td a{
    text-decoration:underline;
}

td a:hover{
    color:var(--linkColor);
}

tr {
    height:40px;
}

tbody tr:nth-child(odd) {
    background-color: var(--headerPaleColor);
}

tbody tr:nth-child(even) {
    background-color: var(--backgroundColor);
}

td.delete {
    font-weight: bold;
    text-decoration: underline;
    color:var(--titleColor);
}
/*****Home Page**********/
/* Affichage des newelles */
.newelle-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:flex-start;
    width: 100%;
}

article.home-newelles{
    width:33%;
}

.newelle {
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    margin:10px;
    justify-content:space-around;
    background-color: var(--headerPaleColor);
    height:300px;
    border-radius:0 50px 0 0;
}

.newelle-content {
    display:flex;
    flex-direction:column;
    text-align: justify;
    width:70%;
    text-overflow: hidden;
}

.newelle-img{
    width:30%;
    padding:15px 15px 20px 15px;
    object-fit:cover;
    height:250px;
    border-radius:0 50px 0 0;
}

.newelle-content > h2 {
    color: var(--headerColor);
    width:100%;
    padding:10px 0 10px 10px;
}

.newelle-content > p {
    margin-bottom: 10px;
    font-size: 15px;
    padding-left: 10px;
}

.newelle-content > p.stagename {
    font-style:italic;
    text-decoration:underline;
}
.newelle-footer{
    display:flex;
    flex-direction: row;
    justify-content:space-around;
    border-top:1px dotted var(--titleColor);
    width:100%;
    padding:5px;
    height:35px;
}

.newelle-footer .info{
    padding:5px 20px 5px 5px;
    border-right: 1px solid var(--titleColor);
}

a.button{
    padding:15px;
    background-color: var(--titleColor);
    border-radius:5px;
    color:var(--headerPaleColor);
    display:block;
    margin:auto;

}

/* affichage du top 4 profiles */
/* Affichage des newelles */

article.home-profiles{
    width:24%;
}

.profile {
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    margin:10px;
    justify-content:space-around;
    background-color: var(--headerPaleColor);
    height:250px;
    border-radius:50px;
    padding-right:15px;
}

.profile-img{
    width:40%;
    padding:15px 0px 20px 15px;
    object-fit:cover;
    height:250px;
    border-radius:50px 0px 0px 50px;
    border-right: dotted 1px var(--titleColor);
}
.profile-content {
    display:flex;
    flex-direction:column;
    text-align: justify;
    width:60%;
    text-overflow: hidden;
}

.profile-content > h3 {
    color: var(--headerColor);
    width:100%;
    padding:10px 0 10px 10px;
}

.profile-content > p {
    margin-bottom: 10px;
    font-size: 15px;
    padding-left: 10px;
}


/* Page de détail d'un newelle */

.newelle-text .material-symbols-outlined {
    font-size: 180px!important;
    display:block;
    margin:-80px auto 10px auto;
    color:var(--titleColor);
    font-variation-settings: 'FILL' 1;
    border: none;
    background: none;
    cursor:pointer;
}

.newelle-text a{
    display:inline;
    text-align:center;
}

audio{
    background:none;
    border:none;
}
.audio-player {
    display: flex;
    align-items: center;
    background:none;
    border:none;
}

article.detail{
    width:100%;
}

.newelle-detail {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: var(--headerPaleColor);
    margin-top:20px;
    width:100%;
}

.meta-data{
    width:25%;
    padding:10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.detail-img{
    width:80%;
    padding:15px 5px 20px 5px;
    object-fit:scale-down;
    display:block;
    max-height:400px;
}

.meta-data li{
    font-size:1.2em;
    padding-bottom: 20px;;
}

.meta-data a{
    font-size:0.9em;
    padding-top: 10px;
    text-decoration:underline;
}

.meta-data a:hover{
    color:var(--linkColor);
}

.newelle-text{
    width:75%;
    text-align:justify;
    display:flex;
    flex-direction: column;
    line-height: 1.3em;
    background-color: var(--backgroundNewelle);
    padding:30px 50px 30px 50px;
}

.newelle-text p{
    padding-bottom:10px;
}

.pagination{
    display:flex;
    flex-direction: row;
    justify-content: center;
    font-size:1.5em;
}

.pagination a{
    text-decoration: underline;
}

.pagination a:hover{
    color:var(--linkColor);
}


/* Affichage des commentaires */

.feedbacks{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width:100%;
}

.feedback .material-symbols-outlined {
    font-variation-settings: 'FILL' 1;
    font-size:2em;
    color:orange;
}


.feedback li{
    width:100%;
    background-color: var(--backgroundNewelle);
    border-bottom:dotted 1px var(--titleColor);
    padding:20px 0px 20px 0px;
}

h4.info{
    padding: 20px 0px 10px 15px;
    margin:0;
    font-size:1em;
    font-style:italic;
    font-weight: normal;
    text-align:left;
}

p.info{
    padding:10px;
    font-size:1em;
} 

p.no-comment{
    padding:10px;
    font-size:1em;
    background-color:var(--backgroundColor);
} 

p.content{
    background-color: var(--backgroundColor);
    padding:10px;
    font-size:1em;
} 

.feedback-form{
    display:flex;
    flex-direction: column;
    align-items: center;
    width:100%;
}

.feedback-form label{
    padding:10px 0px 10px 0px;
    text-align:center;
}

.feedback-form button{
    margin:10px auto 10px auto;
    padding:10px 20px 10px 20px;
    border-radius:5px;
}

.h-captcha{
    margin-top:10px;
}

.rating {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row-reverse; /* this is the magic */
    justify-content: flex-end;
    font-variation-settings: 'FILL' 1;
    color: var(--titleColor);
  }

  .rating label.material-symbols-outlined{
    font-size: 3em;
  }
  
  .rating input {
    display: none;
  }
  
  .rating label {
    font-size: 1.2em;
    cursor: pointer;
  }
  
  .rating label:hover,
  .rating label:hover ~ label { /* reason why the stars are in reverse order in the html */
    color: orange;
  }
  
  .rating input:checked ~ label {
    color: orange;
  }

/* Page d'erreur */

.error {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.error h2 {
    color: var(--titleColor)
}

.error a {
    margin: 20px;
    color: var(--headerColor);
    font-weight: bold;
}


/**
 * Compte utilisateur
*/
.account nav{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width:95%;
}
.account{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width:100%;
}

.account-card{
    display:flex;
    flex-direction: column;
    border-radius: 40px;
    background-color: var(--headerPaleColor);
    width:15%;
    align-items: center;
}

.account-card-title{
    border-bottom:solid 1px var(--titleColor);
    display: flex;
    flex-direction: column;
    align-items: center;
    width:90%;
}

.account-card-title .material-symbols-outlined{
    font-size:6em;
    color:var(--titleColor);
    margin-top:-10px;
    padding:10px 0px 5px 0px;
}

.account-card-title h3{
    font-size:2.2em;
    text-align:center;
    margin:0;
    padding:10px 0px 0px 0px;
}

.account-card-list{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.account-card-list ul li{
    text-align:center;
    color:var(--titleColor);
    font-size:1.2em;
    border-bottom:1px solid var(--titleColor);
    padding-bottom:20px;
}

.account-card-list ul li a:hover{
    font-size:1.2em;
}

.account-card-list ul li:last-child{
    border:none;
}

.account-card-list .material-symbols-outlined{
    font-size:3em;
    padding:5px 0px 5px 0px;
}

nav.nwlMngmt{
   width:100%; 
}

/** On masque les colonnes inutiles*/
table.manageNewelles th.idUser, table.manageNewelles th.stageName, table.manageNewelles th.audio, table.manageNewelles th.content, table.manageNewelles th.nwlImg, table.manageNewelles th.id, 
table.manageNewelles td.idUser, table.manageNewelles td.stageName, table.manageNewelles td.audio, table.manageNewelles td.content, table.manageNewelles td.nwlImg, table.manageNewelles td.id 
{
    display:none;
}    

/** On masque les colonnes inutiles de gestion des feedbacks*/
table.displayFeedbacks th.nwlId, table.displayFeedbacks th.supprimer,  
table.displayFeedbacks td.nwlId, table.displayFeedbacks td.supprimer
{
    display:none;
}  

/**
*Affichage du profil utilisateur
*/
h3.profile-display{
    text-align:center;
    border-bottom:solid 3px var(--titleColor);
}


/** 
 * Footer global de la page.
 */
footer {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    width: 100%;;
    padding: 20px;
    color: white;
    background-color: var(--headerColor);
}

/**
 * Styles des formulaires.
 */
 form {
    width: 100%;
    margin-top: 30px;
    padding: 20px;
    background-color: var(--headerPaleColor);
}

form h2 {
    margin: 0 0 20px 0;
    color: var(--titleColor);
}
form label {
    font-weight: bold;
    font-size: 1.2em;
}

form.folded-corner{
    border-radius:0px 50px 0px 50px;
}

form input {
    padding: 5px;
    border: none;
    font-size: 1.2em;

}

form textarea {
    height: 150px;
    padding: 5px;
    border: none;
    font-size: 1.2em;

}

form .current-img{
    max-width: 30%;
    max-height: 300px;
}

form .formGrid {
    display: grid;
    grid-template-columns: 300px minmax(0, 1fr); /* Une colonne de 100px et une autre de largeur automatique */
    gap: 10px; /* Espace entre les éléments de la grille */
}

form .formGrid .submit {
    grid-column: 2; /* Place l'élément dans la deuxième colonne (la dernière) */
    grid-row:10; /* Place l'élément dans la troisième rangée (la dernière) */
}


.submit {
    padding: 5px 10px;
    font-weight: bold;
    color: white;
    background-color: var(--headerColor);
    border: none;
    font-size: 1.2em;
    cursor:pointer;
}

.nav {
    display : flex;
    flex-direction: row;
    justify-content: center;
    gap:20px;
}

/*****************ADMIN**************************/
.header-admin {
    display: flex;
    position:fixed;
    flex-direction: row;
    width: 100%;
    background-color: var(--backgroundNewelle); 
}


.header-admin > .logo{
    width:5%;
    padding:5px;
}

.header-admin > .title{
    width:95%;
}

.header-admin > .title h1{
    font-size:2em;
    padding:5px;
}


.header-admin > .nav {
    display: flex;
    justify-content: flex-end;
    width:5%;
    padding:5px;
}

.header-admin > .nav .material-symbols-outlined{
    font-size:2.5em;
}
main.admin{
    width:100%;
    background-color: var(--backgroundNewelle);
    margin:0 50px 50px 50px;
}

main.admin h2{
    background : none;
    border:none;
    text-align: center;
    color:var(--headerPaleColor);
}

.main-container{
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    width:100%;
    margin-top:50px;
}

.left-bar{
    position:fixed;
    height:100%;
    display:flex;
    flex-direction: column;
    align-items:flex-start;
    background-color: var(--headerColor);
    color:var(--headerPaleColor);
    padding-left:50px;
    width:15%;
}

.left-bar ul li{
    font-size:1.5em;
    padding:30px 0px 30px 0px;
}

.left-bar ul li a:hover{
    color:var(--linkColor);
}

.content {
    margin-left:15%;
    padding:30px;
    width: 85%;
    background-color: var(--backgroundNewelle);
}


/**masque les cellules "password, bio, audio, usr_img, nwl_img, content dans la section "newellers" du back office*/
table.adminNewellers th.password, table.adminNewellers th.bio, table.adminNewellers th.audio, table.adminNewellers th.usrImg,  table.adminNewellers th.nwlImg, table.adminNewellers th.content, 
table.adminNewellers td.password, table.adminNewellers td.bio, table.adminNewellers td.audio, table.adminNewellers td.usrImg,  table.adminNewellers td.nwlImg, table.adminNewellers td.content
{
    display:none;
}   

/**masque les cellules**/
table.adminNewelles th.audio, table.adminNewelles th.content, table.adminNewelles th.nwlImg, 
table.adminNewelles td.audio, table.adminNewelles td.content, table.adminNewelles td.nwlImg
{
    display:none;
}    

